@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@500;700&display=swap");
body {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.bg-v-light-blue {
  background-color: hsl(210deg, 46%, 95%);
}

.c-d-grayish-blue {
  color: hsl(217deg, 19%, 35%);
}

.c-light-blue {
  color: hsl(214deg, 17%, 51%);
}

.c-grayish-blue {
  color: hsl(212deg, 23%, 69%);
}

.weight-b {
  font-weight: 500;
}

.weight-eb {
  font-weight: 700;
}

.card__container {
  width: 95%;
  max-width: 400px;
  border-radius: 1em;
}

.card__title {
  line-height: 1.8rem;
  font-weight: 700;
}

.card__text {
  line-height: 1.5rem;
  color: hsl(212deg, 23%, 69%);
}

.card-img-top {
  border-radius: 1em 1em 0 0;
}

.card__textos {
  padding: 2em 2em 0;
}

.card__profile {
  padding: 2rem;
  position: relative;
  border-radius: 0 0 1rem 1rem;
}

.card-bg-active {
  background: hsl(217deg, 19%, 35%);
}

.profile__data {
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1rem;
}
.profile__data p:nth-child(1) {
  font-weight: 700;
}
.profile__data p:nth-child(2) {
  color: hsl(212deg, 23%, 69%);
}

.profile__redes {
  display: none;
}

i {
  font-size: 1.8rem;
}

.data-active {
  display: none;
}

.redes-active {
  height: 50px;
  width: 80%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 1rem;
  color: white;
}
.redes-active a {
  color: white;
  text-decoration: none;
}
.redes-active p {
  font-weight: 500;
  letter-spacing: 5px;
  display: flex;
  width: 75px;
}

.btn-profile {
  background-color: hsl(210deg, 46%, 95%);
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.btn-active {
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  background: hsl(210deg, 46%, 95%);
  padding: 1rem;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .card__container {
    width: 800px;
    max-width: 95%;
  }
  .card-img-top {
    width: 350px;
    border-radius: 1em 0 0 1em;
  }
  .card__profile {
    border-radius: 0 1rem 1rem 0;
  }
}
@media screen and (min-width: 992px) {
  .profile__redes {
    position: relative;
  }
  .redes-active {
    position: absolute;
    width: 200px;
    top: -50px;
    right: -45px;
    border-radius: 0.5rem;
    background: hsl(217deg, 19%, 35%);
    justify-content: center;
  }
  .profile__redes::before {
    content: "";
    position: absolute;
    display: flex;
    width: 25px;
    height: 25px;
    background-color: hsl(217deg, 19%, 35%);
    top: 100%;
    border-color: hsl(217deg, 19%, 35%) white white white;
    border-style: solid;
    border-width: 1rem;
  }
  .data-active {
    display: flex;
  }
  .card-bg-active {
    background: initial;
  }
  i {
    font-size: 1.1rem;
  }
  .redes-active p {
    width: initial;
  }
}/*# sourceMappingURL=custom.css.map */